body
{
background-color:yellow
}
{
font-family:"Georgia";
font-size:30px;
}

#gif{
position: fixed;
    float: left
    z-index: +1;

}

#kimpic{
position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
